[Unit]
Description=Launch Script at startup
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/reverse.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
